// ======================= Light  Theme ===================
$color-light-one:#EEEEEE;
$color-light-two:#917658;
// ======================= Dark  Theme ===================
$color-dark-one:#131419;
$color-dark-two:#1c1c24;
$color-dark-three:#C4C4C4;