@import "../recurso-sass/darkmode";
@import "../recurso-sass/normalize";
@import "../recurso-sass/variables";
@import "../RWD/device-two";
@import "../RWD/tablet";
@import "../RWD/desktop";
.body{
    font-family: 'Roboto', sans-serif;
}
header{
    .nav{
        display:block;
        position: fixed;
        left:0;
        right: 0;
        top:0;
        z-index:999;
        .menu{
            background-color:$color-light-one;
            display:flex;
            align-items: center;
            display:grid;
            grid-template-columns: repeat(3,1fr);
            padding:0;
            margin:0;
            list-style:none;
            height:90px;
            .menu__link{
                text-decoration:none;
                color:black;
                font-size:20px;
                font-weight: 700;
                text-align: center;
                display:flex;
                flex-direction: column;
            }
            .menu__item{
                text-align: center;
                padding:0;
            }
            .modal{
                display:none;
            }
            .modal__enable{
                background-color:rgba(0, 0, 0, 0.603);
                position: fixed;
                top:0;
                left:0;
                right:0;
                height: 100vh;
                color:white;
                display:flex;
                justify-content: center;
                align-items: center;
                .modal__close{
                    font-size:2rem;
                    position:absolute;
                    right:1rem;
                    top:10px;
                    cursor:pointer;
                }
                .modal__description{
                    font-size:25px;
                    font-weight: 500;
                    text-align:center;
                }
            }
        }
        .menu__dark{
            background-color:$color-dark-one;
            .menu__icon__x__dark{
                color:white;
            }
            .menu__link__dark{
            color:white;
            }
        }
    }
}
.main{
    padding:8rem 1rem 0 1rem;

    .card__price{
        background-color:$color-light-one;
        border:5px solid $color-light-two;
        .card__price__title__barber{
            font-weight: 700;
            margin:0;
            font-size:48px;
            text-align: center;
        }
        .card__price__subtitle__barber{
            font-size:30px;
            margin:0;
            font-weight: 700;
            text-align: center;
        }
        .card__price__list{
            .card__price__menu{
                padding:0;
                list-style: none;
                display:flex;
                flex-direction: column;
                align-items: center;
                // padding:0 5px;
                .card__price__menu__item{
                    font-weight: 500;
                    padding:8px 0;
                }
                #card-price-menu-item-corte{
                    &::after{
                        content: "...........Q25.00";
                    }
                }
                #card-price-menu-item-mascarilla{
                    &::after{
                        content: "........Q25.00";
                    }
                }
                #card-price-menu-item-cejas{
                    &::after{
                        content: ".............Q5.00";
                    }
                }
                #card-price-menu-item-tinte-barba{
                    &::after{
                        content: "..............Q50.00";
                    }
                }
                #card-price-menu-item-tallado-barba{
                    &::after{
                        content: "..........Q25.00";
                    }
                }
            }
        }
    }
}
@include Dark-mode-price;
@media screen and (min-width:372px){
    @include width-phone-two-372;
}
@media screen and (min-width:768px){
    @include width-tablet-768
}
@media screen and (min-width:1000px){
    @include width-desktop-1000;
}